body{  
    height: 100%;
    padding-top: 80px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgb(173,206,227);
    background: linear-gradient(90deg, rgba(173,206,227,1) 0%, rgba(128,168,157,1) 31%, rgba(163,136,123,1) 100%);
} 